{% extends 'montemplate.html.twig' %}

{% block contenu %}

<h3><center>Renseignement des informations d'une entreprise</center></h3>
    
    {{ form(vueFormulaireRessource)}}

{% endblock %}
